a {
  color: inherit;
  text-decoration: none;
}

.message-overflow{
  overflow: visible !important;
}


.textinput-composer {
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border: 0px solid black;
  box-sizing: border-box;
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  resize: none;
  flex: 1 1 0%;
}

.msgImg {
  object-fit: contain;
  width: 100%;
}