a {
  color: inherit;
  text-decoration: none;
}

.message-overflow {
  overflow: visible !important;
}


.textinput-composer {
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border: 0px solid black;
  box-sizing: border-box;
  font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  resize: none;
  flex: 1 1 0%;
}

.msgImg {
  object-fit: contain;
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

/** to block safari behavior on asking to fill passowrd**/
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}

.password-field {
  -webkit-text-security: circle;
}

.text-field {
  -webkit-text-security: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

/* * {
  scrollbar-width: thin
}

::-webkit-scrollbar {
  width: 15px
}

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 20px
} */

div[data-testid="GC_WRAPPER"]{
  width: 100%
}

#root,
body,
html {
  height: 100%;
  overflow: hidden
}

.RoomSwipable .MuiBox-root {
  padding: 0
}

.sb-tab-link {
  text-transform: none;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}